body, html {
	margin: 0;
	height: 100%;
}

#labs-list {
	margin-left: 15vw;
	margin-bottom: 100px
}

#labs-list li {
	list-style-type: none;
    margin-bottom: 10px;
	font-size: calc(12px + .5vw);
}

#labs-list li a{
	color: #4CAF50;
	text-decoration: none;
	font-size: calc(12px + .5vw); 
}

#labs-list li::before{
	content: "\2022"; 
	color: #4CAF50;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}