body, html {
	margin: 0;
	height: 100%;
}

#top-image {
	display: block;
	height: 20vw;
	width: 100%;

	background-image: url('https://source.unsplash.com/1600x500?developer');
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;

    position: relative;
    clear: both;

    filter: blur(2px);
}

#profile-info {
	height: 20vw;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
}

#profile-info #profile-picture {
	border-radius: 12vw;
    width: 12vw;
    height: 12vw;
    border: .4vw solid #ccc;
    padding: .4vw;
    vertical-align: middle;
    box-shadow: 0px 0px 2px #000;
}

#profile-info #profile-name {
	margin-left: 20px;
    font-size: 4vw;
    line-height: 2.9vw;
    text-shadow: 0px 0px 2px #000;
    color: #4CAF50;
}

#profile-info #profile-name > small {
	font-size: 2vw;
    color: #ccc;
}

#labs-list {
	margin-left: 15vw;
	margin-bottom: 100px
}

#labs-list li {
	list-style-type: none;
    margin-bottom: 10px;
}

#labs-list li a{
	color: #4CAF50;
	text-decoration: none;
	font-size: calc(12px + .5vw); 
}

#labs-list li::before{
	content: "\2022"; 
	color: #4CAF50;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

footer {
	height: 100px;	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	color: white;
	text-align: center;
}

footer #coppy-right {
	padding: 10px;
	float: left;
	color: #333;
}
footer #coppy-right p {
	margin: 8px 0;
}

footer #validator {
	float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
}