body, html {
	margin: 0;
	height: 100%;
	background-color: #f1f1f1;
	font-size: 100%;
}

h1, h2 {
	color: #4CAF50;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

main {
	width: 80vw;
	margin: 0 auto 120px;
}

div.container {
	height: 100%;
	color: #333;
	font-family: 'Baloo Bhaina 2', cursive;
}

#desc-me strong{
	color: #467b48;
}

li a {
	text-decoration: none;
	color: #467b48;
}

li a:hover {
	text-decoration: underline;
	color: #4CAF50;
}

#my-mood-block {
	width: 100%;
	color: #4CAF50;
}

#my-mood-block .my-mood-item {
	width: 40%;
	margin-right: 19%;
	display: inline-block;
}

#my-mood-block .my-mood-item img.my-mood-item-image {
	width: 100%
}

#my-mood-block .my-mood-item .my-mood-item-title {
	width: 100%;
    text-align: center;
    display: block;
    padding: 20px 0;
    font-size: calc(12px + .7vw);
    color: #111;
}	

#my-mood-block .my-mood-item:last-child{
	margin-right: 0;
}

p:first-letter {
	color: #4CAF50;
	float: left;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-right: 5px;
}

footer {
	height: 100px;	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ddd;
	color: white;
	text-align: center;
}

ol {
	display: flex;
	flex-direction: column-reverse;
}

ol li {
	flex: 0 0 auto;
}

ol#favorite-movie > li > dl > dt {
	font-weight: 500;
}