footer {
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    color: white;
    text-align: center;
}

footer #copy-right {
    padding: 10px;
    float: left;
    color: #333;
}

footer #copy-right label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
footer #copy-right p {
    margin: 8px 0;
}

footer #validator {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#top-image {
    display: block;
    height: 12vw;
    width: 100%;

    background-image: url('https://source.unsplash.com/1600x500?developer');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;

    position: relative;
    clear: both;

    filter: blur(2px);
}

#profile-info {
    height: 12vw;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
}

#profile-info #profile-picture {
    border-radius: 8vw;
    width: 8vw;
    height: 8vw;
    border: .2vw solid #ccc;
    padding: .2vw;
    vertical-align: middle;
    box-shadow: 0 0 2px #000;
}

#profile-info #profile-name {
    margin-left: 20px;
    font-size: calc(15px + 2vw);
    line-height: 2.9vw;
    text-shadow: 0 0 2px #000;
    color: #4CAF50;
}

#profile-info #profile-name > small {
    font-size: 2vw;
    color: #ccc;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #dfdfdf;
    margin: 5px 0 0 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: ">";
    color: #4CAF50;
}

ul.breadcrumb li a {
    color: #333;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #4CAF50;
    text-decoration: underline;
}